/*instal font*/
@font-face {
    font-family: bebas;
    src: url('../style/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: comforta;
    src: url('../style/Comfortaa-VariableFont_wght.ttf');
}


body{
    margin: 0;
}

.container{
    width: 70%;
    overflow: hiden;
    margin:auto;
}

.header{
    width: 100%;
    overflow: hidden;
    background: rgba(195, 216, 211, 0.541);
    padding-left: 50px;
    margin-bottom: 50px;
}

.header .logo{
    font-size: 32px;
    float: left;
    font-family: bebas;
}

.header .navigation{
    float: right;
    margin-top: 40px;
}


.header .navigation li{
    float: right;
    margin-left: 20px;
    font-size: 18px;
    display: block;
}

.header .navigation li a{
    color: black;
    text-decoration: none;
    font-family: comforta;
}

.header .navigation li a:hover{
    color: red;
    text-decoration: underline;
}